header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;

    height: 70px;
    background-color: rgba(255, 255, 255, 0.67);
}

h1 {
    font-size: 5rem;
    padding-left: 1rem;
}

nav {
    font-size: 2rem;
    padding-right: 1rem;
}

nav > ul {
    display: flex;
    gap: 2rem;
}

nav > ul > li {
    list-style-type: none;
    cursor: pointer;
}
