@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* favicon: https://www.flaticon.com/free-icon/personal-development_1429492?term=personal%20website&page=1&position=21&page=1&position=21&related_id=1429492 */
    /* favicon author: Maxim Basinski Premium*/
}

html {
    /* set font size to 10px */
    font-size: 62.5%;
    font-family: 'Source Sans Pro', Montserrat, 'Lucida Sans', 'Lucida Sans Regular',
        'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Source Sans Pro', 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
