section {
    height: calc(100vh - 70px);
}

#about {
    /* CIRLCE */
    /* background: rgb(255, 255, 255);
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 0%,
        rgba(200, 238, 255, 1) 23%,
        rgba(73, 175, 219, 1) 80%,
        rgba(48, 147, 191, 1) 100%
    ); */

    background: rgb(255, 255, 255);
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(200, 254, 255, 1) 23%,
        rgba(73, 216, 219, 1) 80%,
        rgba(48, 178, 191, 1) 100%
    );

    display: flex;
    align-items: center;

    padding: 10rem;
    gap: 15rem;
}

#portrait {
    width: 25vw;
    clip-path: circle();
}

.about-text {
    font-size: 3rem;
    font-weight: bold;
}

#projects {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(200, 238, 255, 1) 23%,
        rgba(73, 175, 219, 1) 80%,
        rgba(48, 147, 191, 1) 100%
    );

    display: flex;
    flex-direction: column;
}

#projects > h2 {
    font-size: 4rem;
    padding: 2rem;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    align-items: center;
    /* gap: 1rem; */
}

.portfolio-project {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 1.5rem;

    margin: 0 3rem 0 3rem;

    /* margin: 2rem; */
    /* padding: 2rem; */

    background-color: aliceblue;
    border: 2px solid red;
}

.portfolio-project > h3 {
    font-size: 3rem;
}

.portfolio-project > img {
    max-height: 40vh;
    max-width: 40vw;
}

#skills {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(200, 203, 255, 1) 23%,
        rgba(73, 73, 219, 1) 80%,
        rgba(48, 51, 191, 1) 100%
    );
}

#contact {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(222, 200, 255, 1) 23%,
        rgba(144, 73, 219, 1) 80%,
        rgba(122, 48, 191, 1) 100%
    );
}
